<!DOCTYPE html>
<html>
<head>
	<title>signin</title>
</head>
<style>
body{
	background:url("./homenew.jpg") no-repeat;
	 background-size:cover;
	position: relative;
	font-family: 'Nunito Sans';
	font:600 16px/18px;
	font-family: sans-serif !important;
	align-content: center;
}
.logo{
	margin: 20px 30%;
	align-content: center;
}
.content{
	margin: 200px 45%;
}
.button{
	width: 140px;
	height: 50px;
	border-radius: 20px; 
	border: none;
	margin-bottom: 30px;
	background: #3658D8;
	font-size: 20px
}
.text{
	width: 200px;
	text-align: center;
	padding: 2px;
	margin-left: -30px;
	color: white;
	font-family: sans-serif;
}
a{
	text-decoration: none;
	color: white
}
.signin{
	background: transparent;
	border: none;
	color: white;
	font-size: 16px;
}
</style>
<body>
	<div class="logo">
		<svg width="624" height="113" viewBox="0 0 624 113" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M186.13 65.7665C183.703 65.7665 181.627 65.2532 179.9 64.2265C178.173 63.1999 176.843 61.7415 175.91 59.8515C175 57.9615 174.545 55.7099 174.545 53.0965C174.545 50.5065 175 48.2665 175.91 46.3765C176.843 44.4865 178.173 43.0282 179.9 42.0015C181.627 40.9749 183.703 40.4615 186.13 40.4615C187.833 40.4615 189.397 40.7299 190.82 41.2665C192.267 41.8032 193.492 42.5849 194.495 43.6115L193.375 45.9565C192.302 44.9532 191.182 44.2299 190.015 43.7865C188.872 43.3199 187.6 43.0865 186.2 43.0865C183.423 43.0865 181.3 43.9615 179.83 45.7115C178.36 47.4615 177.625 49.9232 177.625 53.0965C177.625 56.2932 178.36 58.7665 179.83 60.5165C181.3 62.2665 183.423 63.1415 186.2 63.1415C187.6 63.1415 188.872 62.9199 190.015 62.4765C191.182 62.0099 192.302 61.2749 193.375 60.2715L194.495 62.6165C193.492 63.6199 192.267 64.4015 190.82 64.9615C189.397 65.4982 187.833 65.7665 186.13 65.7665ZM236.263 65.7665C233.976 65.7665 231.981 65.2532 230.278 64.2265C228.598 63.1765 227.291 61.7065 226.358 59.8165C225.448 57.9265 224.993 55.6865 224.993 53.0965C224.993 50.5065 225.448 48.2665 226.358 46.3765C227.268 44.4865 228.563 43.0282 230.243 42.0015C231.946 40.9749 233.953 40.4615 236.263 40.4615C238.596 40.4615 240.603 40.9749 242.283 42.0015C243.986 43.0282 245.293 44.4865 246.203 46.3765C247.136 48.2432 247.603 50.4715 247.603 53.0615C247.603 55.6515 247.136 57.9032 246.203 59.8165C245.27 61.7065 243.951 63.1765 242.248 64.2265C240.568 65.2532 238.573 65.7665 236.263 65.7665ZM236.263 63.2115C238.9 63.2115 240.941 62.3249 242.388 60.5515C243.835 58.7782 244.558 56.2932 244.558 53.0965C244.558 49.8999 243.835 47.4265 242.388 45.6765C240.941 43.9032 238.9 43.0165 236.263 43.0165C233.673 43.0165 231.655 43.9032 230.208 45.6765C228.761 47.4265 228.038 49.8999 228.038 53.0965C228.038 56.2699 228.761 58.7549 230.208 60.5515C231.655 62.3249 233.673 63.2115 236.263 63.2115ZM279.859 57.2965V54.9515H289.659V57.2965H279.859ZM327.316 65.4515V43.2615H318.356V40.7765H339.181V43.2615H330.221V65.4515H327.316ZM369.966 65.4515V40.7765H379.731C382.391 40.7765 384.421 41.3949 385.821 42.6315C387.245 43.8682 387.956 45.6299 387.956 47.9165C387.956 49.7365 387.455 51.2299 386.451 52.3965C385.471 53.5632 384.071 54.3215 382.251 54.6715C383.325 55.0449 384.246 55.9549 385.016 57.4015L389.356 65.4515H386.206L381.936 57.5415C381.4 56.5615 380.781 55.8965 380.081 55.5465C379.381 55.1965 378.46 55.0215 377.316 55.0215H372.836V65.4515H369.966ZM372.836 52.7465H379.311C383.185 52.7465 385.121 51.1365 385.121 47.9165C385.121 44.7432 383.185 43.1565 379.311 43.1565H372.836V52.7465ZM418.273 65.4515L429.158 40.7765H431.608L442.493 65.4515H439.518L436.788 59.1515H423.943L421.248 65.4515H418.273ZM430.348 44.1365L424.993 56.7365H435.773L430.418 44.1365H430.348ZM473.801 65.4515V40.7765H482.131C486.121 40.7765 489.201 41.8382 491.371 43.9615C493.541 46.0615 494.626 49.1065 494.626 53.0965C494.626 57.0865 493.541 60.1432 491.371 62.2665C489.201 64.3899 486.121 65.4515 482.131 65.4515H473.801ZM476.671 63.0015H481.921C488.361 63.0015 491.581 59.6999 491.581 53.0965C491.581 46.5165 488.361 43.2265 481.921 43.2265H476.671V63.0015ZM527.428 65.4515V40.7765H543.003V43.1915H530.228V51.7315H542.268V54.1465H530.228V63.0365H543.003V65.4515H527.428Z" fill="white"/>
			<path d="M97.1756 18.6375C68.6415 -13.0682 16.5324 -2.69772 2.2865 37.4488C20.5891 29.4631 59.8016 24.1427 97.1756 18.6375Z" fill="#FF9151"/>
			<path d="M34.7064 84.8739C35.6187 86.8253 36.4832 93.0775 36.4832 93.0775C36.4832 93.0775 52.0909 44.4924 55.0733 34.967C39.7656 36.3527 6.26473 41.9491 1.86357 51.8178C-0.759568 57.6925 9.7478 62.3834 12.5842 67.5852C14.6599 71.4628 11.917 73.8145 7.80782 71.2724C5.03984 69.5616 2.36196 68.0893 0 66.5142C3.21505 83.9797 14.4843 98.6111 29.8216 106.431C29.9767 105.438 32.2782 79.6607 34.7064 84.8739Z" fill="#FF9151"/>
			<path d="M65.4562 33.9385C58.327 49.6283 46.2309 91.1719 41.8423 110.908C90.0247 122.769 128.072 71.3273 104.561 28.9945C91.3534 30.8353 70.0843 33.4379 65.4562 33.9385Z" fill="#FF6156"/>
		</svg>
	</div>
	<div class="content">
		<form method="GET" action="/signup"><button class="button"><a>Sign up</a></button></form>
		<div class="text">Already have an account?</div>
		<form method="GET" action="/login"><div class="text">Please <button class="signin"><u>Sign in</u></button></a></div></form>
	</div>
</body>
</html>